.theme-default {
    --color1: #1446A0;
    --color2: #DB3069;
    --color3: #F5D547;
    --color8: #f5deb3;
    --color4: #EBEBD3;
    --color5: #3C3C3B;
    --color6: #2c2c2c;
    --color7: #141414;
}

/* default stuffs */
.popper-main-style {
    color: var(--color3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: var(--color5); */
}


/* Componenet Navigator Bar */
.componentloader {
    background-color: var(--color5);
    max-width: 800px;
    border-radius: 15px;
    padding-bottom: 10px;
    height: 100%;
}

.username-entry {
    display: grid;
    height: 700px;
    width: 85%;
    border-radius: 20px;
    background-color: var(--color6);
    margin: auto;
    justify-content: center;
    padding: 20px;
    /* padding between circles and edge */
    font-size: 50px;
}

.usernameprompt {
    margin: auto;
    margin-bottom: 0;
    font-size: large;
}

#username-entry-field {
    height: 56px;
    max-width: 50%;
    margin: auto;
    margin-top: 0;
    border-radius: 15px 15px 15px 15px;
    background-color: var(--color5);
    color: var(--color3);
    font-size: larger;
    border: none;
    text-align: center;
}

.nav {
    background-color: var(--color1);
    border-radius: 1%;
    height: fit-content;
    flex-direction: row;
    border-radius: 15px 15px 0px 0px;
    padding-left: 5px;
    padding-top: 5px;
    /* border-color: white; */
    border-bottom: 5px;
}

.navbutton {
    color: var(--color3);
    background-color: var(--color6);
    /* border: none; */
    border-color: var(--color8);
    border-style: solid;
    border-bottom: none;
    height: 33px;
    width: 25%;
    border-radius: 15px 15px 0px 0px;
}

.navbutton:hover {
    background-color: var(--color5);
    height: 33px;
    width: 25%;
    border-radius: 15px 15px 0px 0px;
}

.container {
    /* centre the grid and anything else inside this container */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 700px; */
}

.active {
    background-color: var(--color5);
    height: 33px;
    width: 25%;
    border-radius: 15px 15px 0px 0px;
}


/* Popper - grid svelte */
.countdown {
    padding: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 85%;
    height: 700px;
    border-radius: 20px;
    background-color: var(--color6);
    margin: auto;
    text-align: center;
    /* font-size: 50px; */
    justify-content: center;
}
#counter{
    font-size: 150px;
}
#popper-message {
    font-size: large;
}
#elapsed {
    font-size: 50px;
}
.popper-grid {
    height: auto;
    width: auto;
}
.grid {
    display: grid;
    height: 700px;
    width: 85%;
    border-radius: 20px;
    background-color: var(--color7);
    margin: auto;
    grid-template-columns: auto auto auto auto;
    gap: 15px 6%;
    padding: 30px;
    /* padding between circles and edge */
}
.circle {
    height: auto;
    width: auto;
    /* makes it a circle */
    border-radius: 50%;
    /* circle color */
    background-color: var(--color2);
    transition: background-color 0.3s;
    border: none;
}

.circle.active {
    transform: scale(0.95);
    background-color: var(--color4);
}


/* leaderboard */
.leaderboard {
    display: grid;
    height: 700px;
    max-height: 700px;
    width: 85%;
    border-radius: 15px;
    background-color: var(--color6);
    margin: auto;
    justify-content: center;
    /* grid-template-columns: repeat(4, auto); 5 columns */
    gap: 10px;
    column-gap: 20px;
    padding: 30px;
    /* padding between circles and edge */
}

.leaderboarditem {
    background-color: var(--color5);
    font-size: medium;
    border-radius: 20px 20px 20px 20px;
    color: var(--color3);
    height: fit-content;
    font-size: larger;
    width: 100%;
}

.leaderboard-container {
    display: flex;
}

#container-left {
    width: 89%;
    display: flex;
    justify-content: left;
}

#container-right {
    width: 10%;
    display: flex;
    justify-content: right;
}

#position {
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--color2);
    border-radius: 5px;
    font-size: larger;
    text-align: center;
    justify-content: center;
}

#username {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    /* background-color: var(--color2); */
    border-radius: 5px;
    padding-left: 5px;
    text-align: left;
}

#score {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
    /* background-color: var(--color2); */
    border-radius: 5px;
    padding-right: 5px;
}

/* leaderboard header */
.header-div {
    margin: auto;
    text-align: center;
}


/* settings */
.settings {
    color: var(--color3);
    display: grid;
    height: 700px;
    width: 85%;
    border-radius: 20px;
    background-color: var(--color6);
    margin: auto;
    justify-content: center;
    /* grid-template-columns: repeat(4, auto); 5 columns */
    gap: 10px;
    column-gap: 20px;
    padding: 30px;
    /* padding between circles and edge */
}